a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.backdrop{
	background-color:  #2B2B2B;
}

/* SIDEBAR */

ul.mmenuu > li > a {
    display: block;
    color: white;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
	margin: 0;
	width: 130px;
	height: 110px;
	z-index: 999999;
	text-align: center;
	font: 20;
}
ul.ssubmenuu {
    position: absolute;
    width: 240px;
    top: 37px;
    left: -30px;
    display: none;
    margin: 0px;
    text-align: center;
}
@media only screen and (max-width: 1200px) and (min-width: 960px){ 
.ssubmenuu ul li a{    
    width: 100%;
    margin: auto;
    height: 5%;
    display: inline-block; 
}
}

@media only screen and (max-width: 960px) and (min-width: 760px){ 
.ssubmenuu ul li a{    
    width: 100%;
    margin: auto;
}
}

@media only screen and (max-width: 760px) and (min-width: 480px){ 
ul.mmenuu > li {    
    width: 100%;
    margin: auto;
}
}



ul.ssubmenuu > li {
    display: block;
    text-shadow: #5dc8e5 0 0 10px;
    box-shadow: 0 3px 3px #575555 inset;
}
ul.ssubmenuu > li > a {
    display: block; 
    padding: 5px 25px 5px 25px; 
    color: #000000;     
    background-color: #6699cc;  
	border: solid 1px #002137; 
	border-radius: 5px;
	font-family: 'Sedgwick Ave Display', cursive; 
}
ul.ssubmenuu > li > a:hover {
    background-color: #004953;  
    text-decoration: none;
    border-radius: 20px;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block; 
}
@media only screen and (max-width: 1200px) and (min-width: 960px){ 

}
@media only screen and (max-width: 960px) and (min-width: 760px){ 

}
@media only screen and (max-width: 760px) and (min-width: 480px){ 
.ssubmenuu ul li{
		position: static;
		left: 0;
	}
ul.mmenuu > li > ul.ssubmenuu {
	display: block; 
	position: static;
	left: 0;
	padding: 0;
	margin: auto;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px){ 
.ssubmenuu ul li{
		position: static;
		left: 0;
	}
ul.mmenuu > li > ul.ssubmenuu {
	display: block; 
	position: static;
	left: 0;
	padding: 0;
	margin: auto;
}
}
@media only screen and (max-width: 320px) and (min-width: 0px){ 

ul.mmenuu > li > ul.ssubmenuu {
		display: block; 
		position: static;
		left: 0;
		padding: 0;
		margin: auto;
	}
.ssubmenuu ul li{
		position: static;
		left: 0;
	}
}
.siteMenu{
	display: block;
	color: #015d52;
	font-family: 'Fredericka the Great', cursive;
	font-size: 120%;
	text-shadow: #5dc8e5 0 0 10px;
	margin: 0 0 0 0;
}
.siteMenu:hover {
	color: #000080;
	background-color: #00FFFF;
	border-radius: 5px;
}

/*HEADER*/

.logo{
	float: left;
}
@media only screen and (max-width: 1200px) and (min-width: 960px){ 
.logo{
	width: 20%;	
	}
}
 @media only screen and (max-width: 960px) and (min-width: 760px){ 
.logo{
	width: 20%;
	}
}
@media only screen and (max-width: 760px) and (min-width: 480px){ 
 .logo{
 	display: none;
 }
 #spac{
 	display: none;	
}
	.mmenuu{
		padding: 0;
	}
	ul.mmenuu > li > a {
		width: 100%;
		height: auto;
	}
	#ap{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) and (min-width: 320px){ 
.logo{
		width: 30%;
	}
 		.logo{
 			display: none;
 		}
 		#spac{
 			display: none;	
	}
	
	.mmenuu{
		padding: 0;
	}
	ul.mmenuu > li > a {
		width: 100%;
		height: auto;
	}
	#ap{
		width: 100%;
	}
}
@media only screen and (max-width: 320px) and (min-width: 0px){
 		.logo{
 			display: none;
 		}
 		#spac{
 			display: none;	
	}
}
.logo a img{
	width: 100%;
	height auto;
}


#header{
	background-color: #404040;
	border-radius: 20px 20px 0px 0px;
}
.caption{
	margin: 0px;
	padding: 0px;
}
.capt h1{
	color: #ffffff;	
	font-family: 'Pangolin', cursive;
	width: 100%;
}

.caption .bk{
	text-align: right;
}
.capt{
	float: left;
}
@media only screen and (max-width: 1200px) and (min-width: 960px){ 
.capt h1{
 		margin-left: 30%;
 		font-size: 120%;
 		}	
}
 @media only screen and (max-width: 960px) and (min-width: 760px){ 
.capt h1{
 		margin-left: 30%;
 		font-size: 120%;
 	}
}
@media only screen and (max-width: 760px) and (min-width: 480px){ 
.cart ul li{
		padding: 0;
		font-size: 0.5em; 
	}
.capt h1{
 		margin-left: 30%;
 		font-size: 120%;
 	}
}

@media only screen and (max-width : 480px) and (min-width: 320px){ 
.cart ul li{
		padding: 0;
		font-size: 0.5em; 
	}
.capt h1{
 		margin-left: 30%;
 		font-size: 100%;
 	}
}
@media only screen and (max-width: 320px) and (min-width: 0px){ 
.cart ul li{
		padding: 0;
		font-size: 0.5em; 
	}
}



@media only screen and (max-width: 1200px) and (min-width: 960px){ 
	.bk{
		width: 4%;
	}
}
 @media only screen and (max-width: 960px) and (min-width: 760px){ 
.bk{
	width: 6%;
	}
}
@media only screen and (max-width: 760px) and (min-width: 480px){ 
.bk{
		width: 6%;
	}
.bk a img{
	border-radius: 10px 10px 10px 10px;
}
}

@media only screen and (max-width : 480px) and (min-width: 320px){ 
.bk{
	width: 6%;
	}
.bk a img{
	border-radius: 10px 10px 10px 10px;
}
}
.bk{
	width: 5%;
	margin-right: 1.6em;
	margin-left: auto;
	top: 0;
	float: ;
}
.bk a img{
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	height: auto;
}
.bk a img:hover{
	box-shadow: 2px 2px 20px 4px #00ACE9;
}
}

@media only screen and (max-width: 320px) and (min-width: 0px){ 
.bk{
		width: 7%;
	}
	.bk a img{
		border-radius: 10px 10px 10px 10px;
	}
}

/* HORIZON_MENU */

#menu{
	border-radius: 10px 10px 10px 10px;
}
.leftSpace{
	background-color: #2B2B2B;
	border-radius: 0 0 0 10px;
}

#spac{ /* не работает */
	background-color: #F6F6E8;
}

.cart{
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	background-color: #2B2B2B;
	text-align: center;
	border-radius: 0px 0px 10px 0; 
}

.carte{
	padding: 10px;
}

ul.carte a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

ul.carte li{
	margin: 0 auto;
	border: solid 1px #00ACE9;
	width: 7%;
	list-style: none; 
	display: inline;
	right: 0px;
	padding: 0px 10px 0px 10px;
	line-height: 150%;
	padding: 5px;
	margin: 20px;
	box-shadow: 0 3px 3px #575555 inset;
	border-radius: 10px;
}

ul.carte li:hover{
	box-shadow: 2px 2px 20px 4px #00ACE9; 
}

@media only screen and (max-width: 1200px) and (min-width: 960px){ 
	}
	ul.carte li{
		margin: auto;
		padding: 1% 1% 1% 1%;
	}
	ul.carte li a{
		font-size: 150%;
	}
}
 @media only screen and (max-width: 960px) and (min-width: 760px){ 
	ul.carte li{
		margin: auto;
		padding: 1% 1% 1% 1%;
	}
	ul.carte li a{
		font-size: 200%;
	}
}

@media only screen and (max-width: 760px) and (min-width: 480px){ 
	.capt h1{
 		margin-left: 30%;
 		font-size: 120%;
 		}
	ul.carte li{
		margin: auto;
		padding: 2% 1% 2% 1%;
	}
	ul.carte li a{
		font-size: 200%;
	}
}

@media only screen and (max-width: 480px) and (min-width: 320px){ 
	ul.carte li{
		margin: 0;
		padding: 0;
	}
	ul.carte li a{
		font-size: 170%;
	}
}

.beforeContent{
	background-color: #F6F6E8;
}

section.photo_wall a{
	text-decoration: none;
}

/* CONTENT */

#content{
	background-color: #F6F6E8;
	border-radius: 15px 15px 0 0;
}


/* FOOTER */

#footer{
	background-color: #000000;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	line-height: 110%;


}
.footerText{
	padding: 2% 5% 2% 5%;
}
.text{
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;
}
.text p{
	font: 15px/1 'Kurale', serif;
	line-height: 130%;
}
.text h3{
	text-align: center;
	font-weight: 900;
	font: 10px/1.5;
	font-family: 'Ceviche One', cursive;
}
.text h2{
	text-align: center;
	font-weight: 900;
	font-family: 'Ceviche One', cursive;
}
.text ol li{
	font: 15px/1 'Kurale', serif;
	line-height: 130%;
}

/* SLIDER */

/* GALLERY */

.galleryMain{
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}
.photo-wall{
	display: block;
}
.galleryMain ul li{
	list-style: none;
	float: left;
	font: 10px/1.5 Verdana, Helvetika, Sans-serif;
	width: 16%;
	margin: 2% 2% 2% 2%;
	height: 46%;
	padding: 0px;
	text-align: center;
}
/*.galleryMain ul li:hover{
	width: 18%;
	height: 48%;
	margin: 1% 1% 1% 1%;*/
}
.galleryMain ul li a{
	color: #5d5f5d;
	text-decoration: none;
}
.galleryMain ul li a img{
	max-width: 100%;
	border-radius: 30%;
}
.galleryMain a{
	font: 10px/1.5 'Anton', 'Abril Fatface', Verdana, Sans-serif;
	color: maroon;
	font-weight: 600;
	text-decoration: none;
}

.galleryMain a:hover{
	text-shadow: #9932cc 0 0 10px;
}

@media only screen and (max-width : 940px),
 only screen and (max-device-widch : 940px){ 
	.containeres ul li{
		width: 21%;
	}
	/*.galleryMain ul li:hover{
	width: 23%;
	height: 23%;
	margin: 1% 1% 1% -1%;*/
}
 }
 @media only screen and (max-width : 720px),
 only screen and (max-device-widch : 720px){ 
.containeres ul li{
	width: 29.333%;
	height: 29.333%;
	}
	/* .galleryMain ul li:hover{
	width: 31.3333%;
	height: 31.3333%;
	margin: 1% 1% 1% 1%; */
}

@media only screen and (max-width : 530px),
 only screen and (max-device-widch : 530px){ 
.containeres ul li{
		width: 46%;
	}
	/*.galleryMain ul li:hover{
	width: 48%;
	margin: 1% 1% 30px 0%;*/
}

@media only screen and (max-width : 320px),
 only screen and (max-device-widch : 320px){ 
.containeras ul li{
		width: 96%;
	}
	/*.galleryMain ul li:hover{
	width: 98%;
	margin: 1% 1% 30px 0%;*/
}

/* FORMA */

#field{
	background-color: #8f8b66;
}
#field h3{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
}
#field h4{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
}
.connection p{ /* контактная информация */
	font-family: 'Fredericka the Great', cursive;
	font-weight: 500;
	text-shadow: #d7d7d7 15px 10px 5px;
}

.aboutUs{
	color: #000000;
}

.aboutUs h3{
	text-align: center;
	font-weight: 700;
}
#model{
	text-align: center;
}
#model input{
	margin: 3%;
	width: 50%;
	height: 30px;
	border-radius: 5px;
	font-family: 'Fredericka the Great', cursive;
	background-color: #d7d7d7;
	font-weight: 600;
	border: solid 1px #343e40; 
}

#model input { /* для IE */
	padding-bottom: 5px\0;
}

/* примечания к заказу */

#model textarea{
	overflow: auto;
	resize: none;
	width: 90%;
	border: solid 1px #343e40; 
}


#model button{
	width: 30%;
	background-color: #7fc7ff;
	margin: 0% 5% 10% 5%;
	font-weight: 600;
}
#model button:hover{
	text-shadow: #8c4566 0 0 15px;
}

/* menuSayt */
.menuSayts p{
	display: block;
	text-shadow: #afeeee 0 0 10px;
	font: 10px/1.5 'Anton', 'Abril Fatface', Verdana, Sans-serif;
	color: #132712;
	margin: auto;
}
.menuSayts p:hover{
	text-shadow: #219c5e 0 0 20px;
}

.menuSayts{
	text-decoration: none;
}
.menuSayts a{
	text-decoration: none;
}
#ap{
	position: fixed;
	z-index: 99999;
	top: 90%;
	right: 3%;
	bottom: 10%;
	height: 5%;
	width: 7%;
	text-align: center;
	filter: alpha(Opacity=75);
    opacity: 0.75; 
}
#ap a{
	text-decoration: none;
	font-family: 'Francois One', sans-serif;
	font-weight: 600;
	font-size: 130%;
	color: #000000;
}
#ap:hover{

}
.text .portrait{
	max-width: 25%;
	height: auto;
	display: block;
	float: right;
	margin: 0 5px 5px 0;
	min-width: 100px;
}
@media only screen and (max-width: 480px) and (min-width: 0px){ 
	.text .portrait{
		width: auto;
		max-width: 100%;
		float: none;
		margin: 10px auto;
	}
}




