@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import "../css/touchTouch.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{
	display: block;
}
mark,rp,rt,ruby,summary,time{
	display: inline;
}
/* Global properties ======================================================== */
html {
	width: 100%:;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	min-width: 960px;
	background: #232324;
	-webkit-text-size-adjust: none;
}
.main {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

/*********************************fonts*************************************/
.reg {
	text-transform: uppercase;
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align:center;
}

.italic{
	font-style:italic;
}
.letter {
	letter-spacing:-1px;
}

/*********************************CLASSES**********************************/
.m_bottom_zero{ 
	margin-bottom:0 !important;
}
.m_left_zero{ 
	margin-left:0 !important;
}
.p_bottom_zero{ 
	padding-bottom:0 !important;
}
.p_left_zero{ 
	padding-left:0 !important;
}

.clear {
	clear: both;
	width: 100%;
	line-height: 0;
	font-size: 0;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.extra_wrapper{
	overflow: hidden;
}
.container{
	width: 100%;
}
.extra_last, .last{ 
	margin-bottom:0 !important; 
	padding-bottom:0 !important;
}
.extra_last{ 
	border:none !important; 
	background:none !important;
}
.bg_none{ 
	background:none !important;
}

/*==================================== Links ======================================================== */
a {
	color:#000;
	outline:none; 
	text-decoration:none; 
	cursor:pointer;
}
a:hover{
	color: #cd2b27;
	text-decoration: none;
}

.button{ 
	display: inline-block; 
	padding: 3px 11px 6px;
	margin: 16px 1px 1px; 
	font-size: 12px;
	color: #fff;
	border-radius: 7px;
	background: url(../images/button.jpg) repeat-x #c81714;
	box-shadow: 0 0 1px #767b7a;
}
.button:hover{ 
	background:#e52c13;
	color:#fff;
}

/*********************************Displays*************************************/
.block{
	display:block;
}
.inline-block{
	display:inline-block;
}

/*********************************header*************************************/

header {
	padding: 32px 0px 21px;
}
header h1{
	padding: 6px 0 0 2px;
	width:150px;
	float:left;
}
header h1 a {
	display:block;
	width: 210px;
	height: 50px;
	background:url(../images/logo.png) 0 0 no-repeat;
	text-decoration:none;
	text-indent:-9999px;
}

/*********************************content*************************************/
#content {
	padding: 35px 0px 117px 0px;
}
.cont_pad{
	padding: 165px 0 117px 0 !important;
}

.top_box{ 
	background: url(../images/main_box.jpg) repeat-x #fff;
	height: 116px;
}
.height{
	height:344px !important;
}

.content_box{
	background-color: #FFF;
}
/*===============================>> Paragraphs <<=============================*/

p {
	margin-bottom:18px;
}
.p2{ 
	margin-bottom:10px;
}
.p3{
	margin-bottom:15px;
}

/*================================>> LISTS <<========================================*/
.list1{}
.list1 li{
	background: url(../images/news_marker.png) 0 4px no-repeat; 
	padding-left: 20px;
	margin-bottom: 6px;
}
.list1 a:hover{
	text-decoration: underline;
}

/*================================>> H <<========================================*/
h2,h3,h4{
	font-weight:normal;
}
h2{
	font-size: 28px;
	line-height: 29px;
	color:#000;
	font-family: Georgia ,serif;
	margin-bottom: 25px;
	margin-top: 20px;
	text-align: center;
}

h2.ind{ 
	margin-bottom:24px;
}
h2.ind1{ 
	margin-bottom:19px;
}
h2.ind2{ 
	margin-bottom:15px;
}
h2.ind3{ 
	margin-bottom:22px;
}
h3{
	font-size: 20px;
	line-height: 22px;
	color:#000;
	font-family: Georgia ,serif;
	margin-bottom: 25px;
	margin-top: 20px;
	text-align: center;
}

h3.ind{ 
	margin-bottom:24px;
}
h3.ind1{ 
	margin-bottom:19px;
}
h3.ind2{ 
	margin-bottom:15px;
}
h3.ind3{ 
	margin-bottom:22px;
}
/* Почему именно мы */
.benefit{
	display: flex;
}
.We{
	display: flex;
}
.reason{
	margin: auto;
	text-align: center;
	width: 25%;
	margin: auto;
	padding-bottom: 30px;
}
.reason h4{
	font-size: 1.5rem;
 	line-height: 1.9rem;
 	color: #fff;
	text-align: center;
	display: block;
	margin-top: 5%;
}
.reason span{
	font-size: 1.9rem;
	font-weight: 800;
}
/* О компании */
.track_record{
	width: 100%;
	background: #c81714 url(../images/triangle1.png) no-repeat;
	background-size: 100%;
}
.track_record h2{
	padding-top: 30px; 
	color: #fff;
	font-size: 2rem;
	line-height: 0;
}
.reply{
	display: flex;
	width: 100%;
	height: 160px;
	background-color: #c81714;
	margin: 40px 0;
	border-radius: 5px;
}
.reply_form{
	width: 80%;
	height: auto;
	margin: auto;
	text-align: center;
}
.reply_form input{
	margin: 0;
    font-size: 12px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    color: #484c51;
    padding: 15px 15px 15px;
    width: 260px;
    margin: auto;
    outline: none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}
.reply_form input:-moz-placeholder {
	font-size: 16px;
	color: #cc2320;
}
.reply_form input::-webkit-input-placeholder {
    color: #cc2320;
    font-size: 16px;
}
.reply_form ul>li>button{
    width: 100%;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    padding: 8px 26px;
    margin: auto;
    font-weight: 800;
}
.reply .reply_form ul>li{
	margin: 15px;
	display: inline-block;
}
.reply .reply_form h5{
	margin: 15px 0 15px 0;
	font-size: 30px;
	color: #ffffff;
}
.about_us{
	
}
.progress{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.progress li{
	width: 445px;
	height: 150px;
	margin: 10px;
	border: 2px solid #cc2320;
}
.progres{
	display: block;
	text-align: center;
	width: 90%;
	margin: 2%;
	padding: 10% 3% 10% 3%;
	border: 1px solid #cc2320;
	font-size: 18px;
	line-height: 1.3rem;

}
/*================================>> GOOGLE FONTS  <<========================================*/

 
/*********************************page_1*************************************/
.ext_box{ 
	overflow: hidden;
}
.ext_box>figure{ 
	float:left;
}
.ext_box>div{ 
	float:right;
}
.panels_offer{
	width: 320px;
	margin:0px;
	cursor: pointer;
}
.offer{
	
}
.offer_text{
	
}
.offer_text2{
	height: auto;
	margin-top: 15px;
	font-size: 1rem;
}
.offer_text2 p{
	margin: 0;
	padding: 0;
}
.offer_text2 ol>li{
	padding-left: 15px;
	margin: 10px;
}
.services .title, .products .title, .offer .title{
	background-color: #c10400;
	color: #fff;
	font-size: 14px; 
	line-height: 21px;
	text-align: center;
	padding: 6px 0 8px;
}
.offer{
	overflow: hidden;
}
.offer .headpiece{
	display: block;
	width: 100%;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}
.offer .headpiece:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.offer:hover .title{
	background-color: #262626;
}
.news{
	margin: -3px 0 0 0;
}
.news>li{
	background: url(../images/news_marker.png) 2px 4px no-repeat;
	padding: 0 0 13px 22px;
}
.news .date{
	color:#cc2320;
	margin-bottom:5px;
}
/*********************************page_2*************************************/
.box1{
	margin-bottom:51px;
}
.box1 img{
	margin-bottom:28px;
}

.list3{
	margin-top:-2px;
}
.list3>li{
	margin-bottom:13px;
}
.list3>li>span{
	color:#cc2320;
	display:inline-block;
	margin-bottom:5px;
}
.det_link, .service_item .title, .red, .faq span, .resources span, .list1 a{
	color:#cc2320;
}
/*********************************page_3*************************************/
.products{
	padding:4px 0 25px 0;
}
.products .lightbox-image{
	margin-bottom:28px; 
	display:inline-block;
}
/*********************************page_4*************************************/
.s_banner{
	display:inline-block;
	margin-top:27px;
}
.staff>li>div{
	width:220px;
}
.staff>li{
	margin-bottom:32px;
}
.staff>li>figure{
	padding-top:5px;
}

.resources{}
.resources>li{
	margin-bottom:11px;
}
.resources>li>figure{
	padding-top:2px;
}
.resources>li>div{
	width:230px;
	margin-top:-1px;
}
/*********************************page_5*************************************/
.m_bot1{
	margin-bottom:40px;
}
/*********************************page_6*************************************/
.services{
	padding-top:4px;
	margin-bottom:53px;
}
.services img{ 
	margin: 0 auto;
}
.services .img_wrap{
	text-align:center;
	padding:16px 0 11px 4px;
}

.service_item{
	margin-bottom:25px;
}
.service_item>div{
	width:220px;
}
.service_item>figure{
	padding-top:4px;
}
.det_link{
	display:inline-block;
	margin-top:11px;
}
.det_link:hover{
	text-decoration:underline;
}
/*********************************page_7*************************************/

/* Contact form */

fieldset{
	border: 1px solid #484c51;
	padding: 20px 0;
}
#form{
	display: flex;
	justify-content: space-evenly;
}
legend{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 21px;
}

#contact-form {
	padding: 5px 0 0 0;
	position: relative;
}
#contact-form textarea, #contact-form input {
	margin:0;
	font-size:12px; 
	border:1px solid #b1b1b1;
	color:#484c51;
	padding:16px 15px 17px;
	outline:none;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
}
#contact-form textarea {
	overflow: auto;
	width: 300px;
	height: 100px;
	resize: vertical;
	margin: 0 0 0 0;
}	
#contact-form label {
	display: inline-block;
	overflow: hidden;
	position: relative;
}	
#contact-form label.message {
	display: block;
	padding-bottom: 0; 
}
#contact-form .button {
	margin-left: 15px;
}
#contact-form .buttons2 {
	overflow:hidden;
	text-align:right;
	position:relative;
	clear:both;
	padding-top:19px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{ 
	display:block;
	margin: 0px 0 0 5px;
}
.map_wrapper{
	overflow:hidden;
	margin-bottom:15px;
	display:inline-block;
	padding-top:5px;
}
#map_canvas {
    width:460px;
	height:269px;
}
.adress{}
.adress span{
	display:inline-block;
	width:108px;
}
.adress dt{
	margin-bottom:18px;
}
.adress a{}
.adress a:hover,.demo:hover{
	text-decoration:underline;
}
#contact-form textarea:-moz-placeholder {
	font-size: 20px;
	color: #cc2320;
}
#contact-form textarea::-webkit-input-placeholder {
    color: #cc2320;
    font-size: 16px;
}
#contact-form input:-moz-placeholder {
	font-size: 16px;
	color: #cc2320;
}
#contact-form input::-webkit-input-placeholder {
    color: #cc2320;
    font-size: 16px;
}
.check_box{
	width: 15px;
}
.input_text{
	width: 300px;
}
.sending{
	text-align: center;
}
.paragraphs>li{
	margin: 25px 0;
	border-bottom: 1px solid #eee;
}
.paragraphs>li:first-child{
	border-bottom: 1px solid #777;
}
.paragraphs>li>h3{
	font-size: 18px;
}
#submit{
	background:  #cc2320;
	color: #fff;
	font-size: 14px;
	padding: 3px 11px 6px;
	margin: 10px 0;
	box-shadow: 0 0 1px #767b7a;
	border-radius: 7px;
	border: 1px solid #cc2320;
}
.always{
	font-size: 11px;
	margin: 10px 0;
	font-style: italic;
}
/****************************footer************************/
footer {
	padding:53px 0 50px;
	background-color:#232324;
	position: relative;
}
footer, footer a{
	font-size:14px;
	color:#fff;
}

.privacy{
	padding-top:5px;
}
#form1{
	overflow:hidden;
	min-height: 60px;
	position: relative;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	font-family: Georgia ,serif;
	float:right;
	margin: 0 0 0;
	cursor: pointer;
	width: 160px;
}
#form1 a{
	border:none;
	margin:0;
	padding: 2px 24px 3px;
	border-radius: 5px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:9px;
	font-size:14px;
}
#form1 input{
	display:inline-block;
	background-color:#f2f2f2;
	box-shadow: 1px 1px #5f5f60;
	border:none;margin: 0 0 0 13px;
	padding: 5px 5px 6px;
	width:149px;
	border-radius:3px;
	font-family:Arial, Helvetica, sans-serif;
}
#form1 .invalid .error{
	display: block !important;
}
#form1 label{}
#form1 .success{
	position: absolute;
	width: 100%;
	left: 0;top: 0;
	text-align: center;padding: 5px 0; background: #fff;
	display: block;
	color: #000;
	font-size: 11px;
	line-height: 14px;
	z-index: 999;
}
/* модальная форма */

 #modal_unit{
 	display: none;
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	padding-top: 100px;
 	left: 0;
 	top: 0;
 	z-index: 999999999;
 	background-color: rgb(0,0,0,0.5);
 }
 .modal_form{
 	width: 30%;
 	background-color: #FFF;
 	padding: 30px;
 	margin: auto;
 	border-right: 3px;
 }
 .modal_form legend{
 	margin: auto;
 }
 .modal_form li{

 }
 .modal_form p{
 	font-size: 0.9rem;
 	line-height: 1.1rem;
 	color: #666;
 	display: block;
 	text-align: center;
 }
 .modal_form label{
 	display: inline-block;
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding-bottom: 0;
 }
 .modal_form a{
 	text-align: center;
 	display: block;
 }
 #check_modal{
 	width: 20px;
 }
 .modal_form input{
 	margin: 0;
    font-size: 12px;
    border: 1px solid #b1b1b1;
    color: #484c51;
    padding: 16px 15px 17px;
    outline: none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    width: 220px;
 }
 .modal_form input:-moz-placeholder {
	font-size: 16px;
	color: #cc2320;
}
.modal_form input::-webkit-input-placeholder {
    color: #cc2320;
    font-size: 16px;
}
 .column_li{
 	width: 252px;
 	margin: auto;
 }
 .modal_butt{
 	display: flex;
 	flex: wrap;
 	justify-content: space-between;
 	width: 50%;
 	margin: auto;
 }
 .modal_butt button{
 	cursor: pointer;
 }
 .consent{
 	text-align: center;
 }
 .submit_modal{
 	background: #cc2320;
    color: #fff;
    font-size: 14px;
    padding: 3px 11px 6px;
    margin: 10px 0;
    box-shadow: 0 0 1px #767b7a;
    border-radius: 7px;
    border: 1px solid #cc2320;
 }
 .icon_cancel{
 	display: block;
 	background: url(../images/close.png) no-repeat;
 	width: 20px;
 	height: 20px;
 	float: left;
 	margin-right: 5px;
 }
 #cancel{
 	padding: 3px 11px 6px;
    margin: 10px 0;
    color: #000;
    background-color: #e2e1e6;
    border-radius: 3px;
 }
 #cancel:hover{
 	background-color: #d7d7d7;
 }
 #loader{
 	display: none;
 }
/* статьи */
.offer .look_artic{
	display: none;
}
.offer .offer_text{
	display: none;
}
.full_text .headpiece{
	display: none;
}
.full_text .offer_text{
	display: inline-block;
	overflow: hidden;
	margin-top: 15px;
	font-size: 1rem;
}

.full_text img{
	margin: 10px;
	width: 25%;
	height: auto;
	float: right;
	cursor: pointer;
	-webkit-box-shadow: -10px 12px 35px 3px rgba(31,29,31,1);
	-moz-box-shadow: -10px 12px 35px 3px rgba(31,29,31,1);
	box-shadow: -10px 12px 35px 3px rgba(31,29,31,1);
}
 .look_artic{
 	cursor: pointer;
 }
.contact{
	margin-top: 30px;
}
.sf-menu{
	float: left;
}
.con-menu{
	float: left;
}
.con-menu>li{
	width: 110px;
	margin-right: 2%;
	color: #fff;
}
/*==================================АДАПТИВНЫЕ МАКЕТЫ===============================================*/
@media only screen and (max-width: 995px) {
 body{
 	min-width:768px;
 }
.sf-menu > li > a{
	width: 80px;
}
.main{
	width: 768px;
}
.staff > li > div, .resources > li > div, .service_item > div {
	width: auto;
	margin: 0;
	overflow: visible;
	float: none;
}
.staff > li > figure, .resources > li > figure, .service_item > figure{
	margin-right: 20px;
}
#content{
	padding-bottom: 30px;
}
.products img, .s_banner img, .img{
	width: 100%;
}
.s_banner{
	display: block;
}
.products .lightbox-image {
	display: block;
}
.input_text{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline;
	width: 100%;
}
.check_box{
	width: 15px;
}
.modal_form{
	width: 40%;
}
#contact-form label{
	
}
.progress li{
	margin: auto;
}
}

@media only screen and (max-width: 767px) {
 body{
 	min-width:420px;
 }
.main{
	width: 420px;
}
header h1{
	float: none;
	margin-bottom: 30px;
}
.banner{
	top: 35px;
	left: 15px;
	font-size: 18px;
	line-height: 22px;
}
.cont_pad {
	padding: 60px 0 50px !important;
}
.offer a:first-child{
	display: block;
}
.offer img, .box1 img{
	width: 100%;
}
.offer{
	margin-bottom: 0;
}
#newsletter{
	float: none;
}
footer{
	padding-bottom: 0;
}
footer .privacy{
	position: absolute;
	left: 0;bottom: 0;
}
footer .container_12{
	padding-bottom: 40px;
}
footer .wrapper{
	position: static;
}
.top_box{
	height: auto;
}
}

@media only screen and (max-width: 479px) {
	body{
		min-width:300px;
	}
 .main{
 	width: 300px;
 }
 #form1 a{
 	margin-left: 0;
 	margin-top: 15px;
 }
 #form1 .error{
 	top: 33px;
 	left: auto;
 	right: 5px;
 }
 #form1 input{
 	float: none;
 	clear: both;
 	width: 290px;
 	margin:10px 0 0 0;
 }
 .service_item > figure{
 	margin: 0 0 15px;
 	float: none;
 }
 .service_item > figure img{
 	width: 100%;
 }
 .banner{
 	top: 24px;
 }
 #form1 .success{
 	padding: 20px 0;
 }
}
.sistem{
	color: #ffffff;
}

/* certificates */

.certificates{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.cert{
	width: 100%;
}
.cert>li{
	display: inline;
	cursor: pointer;
}
.cert>li>img{
	width: 29%;
	margin: 2%;
	height: auto;
}


 /* стрелка вверх */
 .upward{
 	position: fixed;
 	left: 85%;
 	top: 85%;
 	width: 4%;
 	height: auto;
 }
 .upward a img{
 	width: 100%;
 	height: auto;
 	opacity: 0.4;
 	cursor: pointer;
 }
 .upward a img:hover{
 	opacity: 0.9;
 }
 